<!DOCTYPE html>
<html ng-app="slovicka">
<head>
	<title>{% block title %}{% endblock %} | Slovicka</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    {#<script src="https://code.jquery.com/jquery.js"></script>#}
    {#<script src="{{ asset('/js/bootstrap.js') }}"></script>#}
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
	<script src="{{ asset('bundles/kutnyadmin/js/angular-clearable.js') }}"></script>
	<script src="{{ asset('bundles/kutnyadmin/js/angular-config.js') }}"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" />
    {#<link href="{{ asset('/css/bootstrap.css') }}" type="text/css" rel="stylesheet" media="screen" />#}
    {% stylesheets filter='css_url_rewrite'
    '@KutnyAdminBundle/Resources/public/css/admin.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
	{% block headAssets %}{% endblock %}
	{#<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
	{#<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>#}
	<script type="text/javascript">
		var apiBaseUrl = 'http://{{ apiHostname }}';
	</script>
</head>
<body>
<div class="container">

	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Slovíčka</a>
		</div>
		<div class="navbar-collapse collapse">
			{{ knp_menu_render('main', {'currentClass': 'active'}) }}
		</div>
	</div>

	{% block content %}{% endblock %}

	<footer class="footer">
		<p>Logged as <strong>{{ app.user.username }}</strong> | <a href="{{ path('route.logout') }}">Logout</a></p>
	</footer>
</div>
</body>
</html>
